# Arquivos de Build e Distribuição
build/
dist/
*.egg-info/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Ambientes Virtuais
venv/
.venv/
env/
.env

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Logs e bancos de dados
*.log
*.db
*.sqlite3